<% content_for :links do %>
  <%= raw([
    {title: t("admin_nav.city_tax_rates"), url: "javascript:void(0);"},
  ].to_json) %>
<% end %>
<div class="page">

  <%= render "admin/shared/header", 
    title: t('admin_nav.city_tax_rates'), 
    new_url: new_admin_city_tax_rate_path, 
    new_title:  t('new') %>

  <div class="table-wrapper">
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col" class="thead-th">
            <%= tf('city_tax_rate.title') %>
          </th>
          <th scope="col" class="thead-th">
            <%= tf('city_tax_rate.lower_rate') %>
          </th>
          <th scope="col" class="thead-th">
            <%= tf('city_tax_rate.higher_rate') %>
          </th>
          <th scope="col" class="thead-th thead-th-actions">
            <%= t('actions') %>
          </th>
        </tr>
      </thead>

      <tbody class="">
        <% @city_tax_rates.each do |city_tax_rate| %>
          <tr class="tbody-tr">
            <td class="tbody-td">
              <%= city_tax_rate.title %>
            </td>

            <td class="tbody-td">
              <%= city_tax_rate.humanize_lower_rate %>
            </td>

            <td class="tbody-td">
              <%= city_tax_rate.humanize_higher_rate %>
            </td>

            <td class="tbody-td">
              <div class="flex justify-end gap-2">
                <%= link_to t('edit'),
                  edit_admin_city_tax_rate_path(city_tax_rate),
                  class: "table-icon table-icon-edit" %>

                <%= link_to t('delete'),
                  admin_city_tax_rate_path(city_tax_rate),
                  class: "table-icon table-icon-destroy",
                  method: :delete,
                  data: { confirm: t('are_you_sure') } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
