<%= form_with model: @salary_calculator,
  url: url,
  method: method,
  html: { class: 'form', id: 'investments-form' } do |f| %>

  <div
      data-controller="salary-calculator"
      data-salary-calculator-city-tax-rates-value="<%= @city_tax_rates %>"
      >

      <div class="py-4">
        <%= render 'shared/errors', object: @salary_calculator %>

        <div class="form-table-wrapper">
          <div class="form-table-container">
            <table class="form-table form-table--vertical">
              <thead>
                <tr>
                  <th><%= tf("salary_calculator.parametar") %></th>
                  <th><%= tf("salary_calculator.value") %></th>
                </tr>
              </thead>

              <tbody id="investment-fields-wrapper">
                <%= render 'salary_calculators/salary_calculator_fields', f: f %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="flex justify-end mt-6">
          <%= button_tag type: 'submit', class: "button is-primary" do %>
            <%= phosphor_icon "floppy-disk" %>
            <%= t("save") %>
          <% end %>
        </div>
      </div>

      <div class="py-4">
        <div class="overflow-x-auto overflow-hidden rounded-lg bg-white shadow-sm relative form-table-border-overlay">
          <table class="form-table form-table--credit-totals">
            <thead>
              <tr>
                <th><%= tf("salary_calculator.parametar") %></th>
                <th><%= tf("salary_calculator.value") %></th>
              </tr>
            </thead>
            <tbody>
              <% ["brut", "first_pillar", "second_pillar", "total_pillar", "personal_deduction", "taxation_base", "pdv_one", "pdv_two", "income_tax", "health_insurance", "employer_to_pay", "net"].each do |item| %>
                <tr>
                  <td><%= tf("salary_calculator.#{item}") %></td>
                  <td>
                    <% formated_item = item.gsub("_", "-") %>

                    <% if ["first_pillar", "second_pillar", "total_pillar", "pdv_one", "pdv_two", "health_insurance"].include? item %>
                      <span data-<%= formated_item %>-ratio> 0 </span> |
                      <span data-<%= formated_item %>> 0 </span>
                      <%= f.hidden_field "#{item}_ratio".to_sym,  data: {
                        "#{formated_item}-ratio-hidden" => true
                      } %>
                      <%= f.hidden_field "#{item}".to_sym,  data: {
                        "#{formated_item}-hidden" => true
                      } %>
                    <% else %>
                      <span data-<%= formated_item %>> 0 </span>
                      <%= f.hidden_field "#{item}".to_sym,  data: {
                        "#{formated_item}-hidden" => true
                      } %>
                  <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

  </div>
<% end %>
