<%= form_with model: @author_fee_calculator,
  url: url,
  method: method,
  html: { class: 'form', id: 'investments-form' } do |f| %>

  <div
      data-controller="author-fee-calculator"
      data-author-fee-calculator-city-tax-rates-value="<%= @city_tax_rates %>"
      >

      <div class="py-4">
        <%= render 'shared/errors', object: @author_fee_calculator %>

        <div class="form-table-wrapper">
          <div class="form-table-container">
            <table class="form-table form-table--vertical">
              <thead>
                <tr>
                  <th><%= tf("author_fee_calculator.parametar") %></th>
                  <th><%= tf("author_fee_calculator.value") %></th>
                </tr>
              </thead>

              <tbody id="investment-fields-wrapper">
                <%= render 'author_fee_calculators/author_fee_calculator_fields', f: f %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="flex justify-end mt-6">
          <%= button_tag type: 'submit', class: "button is-primary" do %>
            <%= phosphor_icon "floppy-disk" %>
            <%= t("save") %>
            <%= "#{t("and")} #{t("devise.registrations.sign_up_button").downcase}" unless current_user %>
          <% end %>
        </div>
      </div>

      <div class="py-4">
        <div class="overflow-x-auto overflow-hidden rounded-lg bg-white shadow-sm relative form-table-border-overlay">
          <table class="form-table form-table--credit-totals">
            <thead>
              <tr>
                <th><%= tf("author_fee_calculator.parametar") %></th>
                <th><%= tf("author_fee_calculator.value") %></th>
              </tr>
            </thead>

            <tbody>
              <% ratio_items = %w[lump_sum lump_sum_additional first_pillar second_pillar income_tax health_insurance] %>
              <% money_items = %w[brut lump_sum lump_sum_additional contribution_base first_pillar second_pillar total_pillar taxation_base income_tax_in_euro net health_insurance employer_to_pay] %>
              <% ["brut", "lump_sum", "lump_sum_additional", "contribution_base", "first_pillar", "second_pillar", "total_pillar", "income_tax", "taxation_base", "net", "health_insurance", "employer_to_pay"].each do |item| %>
                <tr>
                  <td><%= tf("author_fee_calculator.#{item}") %></td>
                  <td>
                    <% formated_item = item.tr("_", "-") %>

                    <% if ratio_items.include?(item) %>
                      <span data-<%= formated_item %>-ratio>0</span> |
                      <span data-<%= formated_item %>>0</span>

                      <%= f.hidden_field "#{item}_ratio".to_sym, data: {
                        "#{formated_item}-ratio-hidden" => true
                      } %>

                    <%= f.hidden_field "#{item}_in_cent".to_sym, data: {
                      "#{formated_item}-hidden" => true
                    } %>

                <% elsif money_items.include?(item) %>
                  <span data-<%= formated_item %>>0</span>

                  <%= f.hidden_field "#{item}_in_cent".to_sym, data: {
                    "#{formated_item}-hidden" => true
                  } %>

              <% elsif item == "personal_deduction" %>
                <span data-<%= formated_item %>>0</span>
                <%= f.hidden_field :personal_deduction, data: { "#{formated_item}-hidden" => true } %>
              <% end %>
                  </td>
                </tr>
              <% end %>

            </tbody>

          </table>
        </div>
      </div>

  </div>
<% end %>

