<div class="form-page">
  <div class="w-full max-w-md">
    <div class="form-outer">
      <div class="login-logo">
        <%= image_tag "logo.png", class: "h-20 w-auto mx-auto", alt: "logo" %>
        <h2 class="login-title"> <%= t("devise.sessions.sign_in") %> </h2>
      </div>

      <div class="form-wrapper">
        <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
          <div class="form">
            
            <div>
              <%= f.label :email, class: "login-label" %>
              <%= f.email_field :email, 
                autofocus: true, 
                autocomplete: "email", 
                class: "login-input" %>
            </div>

            <div>
              <div class="flex items-center justify-between mb-2">
                <%= f.label :password, class: "login-label" %>
                <%= render "admins/shared/forgot_password" %>
              </div>
              <%= f.password_field :password, 
                autocomplete: "current-password", 
                class: "login-input" %>
            </div>

            <div class="pt-2">
              <%= f.submit t("devise.sessions.sign_in_button"), class: "login-submit" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
