<%= form_with model: @credit,
  url: url,
  method: method,
  html: { class: 'form', id: 'investments-form' } do |f| %>
  <div class="py-4">
    <div>
      <%= render 'shared/errors', object: @credit %>

      <div class="form-table-wrapper">
        <div class="form-table-container">
          <table class="form-table form-table--vertical">
            <thead>
              <tr>
                <th><%= tf("credit.parametar") %></th>
                <th><%= tf("credit.value") %></th>
              </tr>
            </thead>
            <tbody id="investment-fields-wrapper" data-controller="credit" >
              <%= render 'credits/credit_fields', f: f %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="flex justify-end mt-6">
        <%= button_tag type: 'submit', class: "button is-primary" do %>
          <%= phosphor_icon "floppy-disk" %>
          <%= t("save") %>
          <%= "#{t("and")} #{t("devise.registrations.sign_up_button").downcase}" unless current_user %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="py-4 mt-6">
    <div data-controller="form-table-nested-fields">
      <div class="overflow-x-auto overflow-hidden rounded-lg bg-white shadow-sm relative form-table-border-overlay">
        <table class="form-table form-table--credit-months">
          <thead>
            <tr>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th> <%= tf("credit.months.date") %> </th>
              <th> <%= tf("credit.months.month") %> </th>
              <th> <%= tf("credit.months.installment") %> </th>
              <th> <%= tf("credit.months.principal") %> </th>
              <th> <%= tf("credit.months.interest") %> </th>
              <th> <%= tf("credit.months.debt_rest") %> </th>
            </tr>
          </thead>
          <tbody data-credit-months>
            <tr data-credit-permanent>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td data-credit-rest></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div data-controller="form-table-nested-fields">
      <div class="overflow-x-auto overflow-hidden rounded-lg bg-white shadow-sm relative form-table-border-overlay">
        <table class="form-table form-table--credit-totals">
          <thead>
            <tr>
              <th> </th>
              <th> <%= tf("credit.months.installment") %> </th>
              <th> <%= tf("credit.months.principal") %> </th>
              <th> <%= tf("credit.months.interest") %> </th>
              <th> <%= tf("credit.months.debt_rest") %> </th>
            </tr>
          </thead>
          <tbody data-credit-totals>
            <tr data-credit-permanent>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td data-credit-rest></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
