<div class="page">
  <div class="featured-section">
    <div class="mb-16">
      <div class="content-wrapper">
        <% translation = @legal_page.translate %>
        <h2 class="featured-title"> <%= translation.title %> </h2>
        <p>
        <strong> <%= tf("legal_page_translation.updated_at") %>:  </strong>
        <time datetime="<%= translation.updated_at.strftime("%Y-%m-%d") %>"> <%= translation.updated_at.strftime("%d.%m.%Y.") %> <time>
        </p>
      </div>
    </div>
  </div>

  <div class="section-wrapper">
    <section class="section">
      <div class="section-inner">
        <div class="content-wrapper">
          <div class="content">
            <%= raw translation.content %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
