<% content_for :links do %>
  <%= raw([
    {title: t("admin_nav.salary_calculators"), url: "javascript:void(0);"},
  ].to_json) %>
<% end %>

<div class="page">
  <%= render "admin/shared/header", title: t('admin_nav.salary_calculators')  %>
  <div class="table-wrapper">
    <table class="table">
      <thead class="thead">
        <tr>
          <th class="thead-th"><%= tf('salary_calculator.amount_in_cent') %></th>
          <th class="thead-th"><%= tf('salary_calculator.city_tax_rate_id') %></th>
          <th class="thead-th"><%= tf('user.email') %></th>
          <th class="thead-th"><%= t('created_at') %></th>
          <th class="thead-th thead-th-actions"><%= t('actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @salary_calculators.each do |salary_calculator| %>
          <tr class="tbody-tr">
            <td class="tbody-td"><%= salary_calculator.humanize_amount_in_cent %></td>
            <td class="tbody-td"><%= salary_calculator.city_tax_rate  %></td>
            <td class="tbody-td"><%= salary_calculator.user&.email  %></td>
            <td class="tbody-td"><%= salary_calculator.created_at.strftime("%d.%m.%Y") %></td>
            <td class="tbody-td">
              <div class="flex justify-end gap-2">
                <%= link_to t('delete'), admin_salary_calculator_path(salary_calculator), class: "table-icon table-icon-destroy", method: :delete, data: { confirm: t('are_you_sure') } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
