<tr>
  <td>
    <div class="form-table-label">
      <%= tf("service_contract_calculator.amount_in_cent") %>
    </div>
  </td>

  <td>
    <div class="form-table-cell">
      <%= money_field f, :amount_in_cent, class: 'form-table-input', min: 0,
        data: {
          "amount_in_cent" => true,
          "amount_in_cent_input" => true, action: "input->service_contract-calculator#service_contractCalculate"
        } %>
    </div>
  </td>
</tr>

<tr>
  <td>
    <div class="form-table-label">
      <%= tf("service_contract_calculator.city_tax_rate_id") %>
    </div>
  </td>

  <td>
    <div class="form-table-cell">
      <div class="relative">
        <input
            type="text"
            class="form-table-input"
            placeholder="<%= t('search') %>..."
            autocomplete="off"
            data-service_contract-calculator-target="citySearch"
            />

            <%= f.hidden_field :city_tax_rate_id,
              data: { service_contract_calculator_target: "cityTaxRateId" } %>
      </div>
    </div>
  </td>
</tr>


<tr>
  <td>
    <div class="form-table-label">
      <%= tf("service_contract_calculator.calculation_type") %>
    </div>
  </td>

  <td>
    <%= render "shared/calculation_method_field", f: f,
      action: "input->service-contract-calculator#serviceContractCalculate",
      targetName: "service_contract_calculator"
  %>
  </td>
</tr>


