<div class="page">
  <table class="table">
    <thead>
      <tr>
        <th class="thead-th"><%= tf('calculator.credit.title') %></th>
        <th class="thead-th"><%= tf('credit.interest_ratio') %></th>
        <th class="thead-th"><%= tf('credit.number_of_installments') %></th>
        <th class="thead-th"><%= tf('user.email') %></th>
        <th class="thead-th"><%= t('created_at') %></th>
        <th class="thead-th"><%= t('actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @credits.each do |credit| %>
        <tr>
          <td class="tbody-td"><%= credit.humanize_amount_in_cent %></td>
          <td class="tbody-td"><%= credit.humanize_interest_ratio  %></td>
          <td class="tbody-td"><%= credit.number_of_installments  %></td>
          <td class="tbody-td"><%= credit.user&.email  %></td>
          <td class="tbody-td"><%= credit.created_at.strftime("%d.%m.%Y") %></td>
          <td class="tbody-td">
            <%= link_to t('delete'), admin_credit_path(credit), class: "table-button", method: :delete, data: { confirm: t('are_you_sure') } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
