<div class="mobile-nav">
  <input id="menu-toggle" type="checkbox" class="hidden peer" />
  
  <!-- hamburger -->
  <label for="menu-toggle" class="hamburger-label">
    <% hamburger_lines = "block w-8 h-0.5 bg-gray-700 transition-all duration-300" %>
    <span class="<%= hamburger_lines %> peer-checked:rotate-45 peer-checked:translate-y-2"></span>
    <span class="<%= hamburger_lines %> peer-checked:opacity-0"></span>
    <span class="<%= hamburger_lines %> peer-checked:-rotate-45 peer-checked:-translate-y-2"></span>
  </label>

  <div class="hamburger-content">
    <ul class="py-4 px-4 space-y-2">
      <li>
        <%= link_to raw(@about_page.translate.title), 
          page_path(@about_page.slug), 
          aria: { current: path_is_active?(@about_page.page_translations.map { |slug| page_path(slug) }) },
          class: "hamburger-link",
          role: "menuitem" %>
      </li>

      <% if current_user.blank? %>
        <li>
          <%= link_to t("devise.login"), new_user_session_path,
            class: "hamburger-link",
            role: "menuitem" %>
        </li>
        <li>
          <%= link_to t("devise.register"), new_user_registration_path,
            class: "hamburger-link",
            role: "menuitem" %>
        </li>
      <% else %>
        <li>
          <%= link_to t("dashboard"), user_root_path,
            class: "hamburger-link",
            role: "menuitem" %>
        </li>
        <li>
          <%= link_to t("user_nav.calculators"), user_root_path,
            class: "hamburger-link",
            role: "menuitem" %>
        </li>
        <li>
          <%= link_to t("user_nav.calculations"), user_calculations_path,
            class: "hamburger-link",
            role: "menuitem" %>
        </li>
        <li>
          <%= link_to t("devise.edit"), edit_user_accounts_path(id: current_user),
            class: "hamburger-link",
            role: "menuitem" %>
        </li>
        <li>
          <%= link_to t("devise.logout"), destroy_user_session_path,
            data: { turbo_method: :delete },
            class: "hamburger-link",
            role: "menuitem" %>
        </li>
      <% end %>
      
      <% if I18n.available_locales.size > 1 %>
        <li class="language-wrapper">
          <div class="language-title">
            <%= t("language") %>
          </div>
          <% I18n.available_locales.reject { |locale| locale == I18n.locale }.each do |locale| %>
            <%= link_to locale.upcase, 
              prepare_url(locale),
              class: "language-link",
              role: "menuitem" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
